<footer class="bg-light text-lg-start">
  <div class="container footer">
    <p class="main">Market Tracker provides a wide range of financial advisory services.
    <br>
    <br>
    Access to our service may be limited or unavailable during periods of high demand, systems upgrade, maintenance, or for other reasons.
    <br>
    <br>
    This site is designed for U.S. residents. Non-U.S. residents are subject to country-specific restrictions.
    <br>
    <br>
      © 2023 Copyright: Market Tracker </p>
  </div>
</footer>
