@import 'headers.scss';
@import 'footers.scss';
@import 'homepage.scss';
@import 'search_bars.scss';

body {
  background-color: #ffffff;
}

h1 {
  color: #166E07;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
