@media (max-width: 480px) {
  .market-data-responsive {
    height: 50%;
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: 481px) {
  .market-data-responsive {
    height: 50%;
    width: 50%;
    padding: 10px;
  }
}

#ticker-content {
  p {
    color: #000000;
    font-family: 'Courier New';
    font-size: 20px;
  }

  p.negative-change {
    color: red;
  }

  p.positive-change {
    color: green;
  }
}
