@media (max-width: 480px) {
  .market-data-responsive {
    height: 50%;
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: 481px) {
  .market-data-responsive {
    height: 50%;
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: 481px) {
  #ticker-content span {
    font-size: 10px;
  }
}

#ticker-content {
  span {
    color: #000000;
    margin-bottom: 5px;
  }

  span.negative-change {
    color: red;
  }

  span.positive-change {
    color: green;
  }
}
